4.-MVC/04-07-2023/MVCEF3Capas/Negocio/Connected Services/srWCFAlumno/WCFAlumnos2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58314/WCFAlumnos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFAlumnos" />
  <xs:element name="CalcularIMSS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalcularIMSSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFAlumnos" minOccurs="0" name="CalcularIMSSResult" nillable="true" type="q1:AportacionesIMSS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalcularISR">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalcularISRResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFAlumnos" minOccurs="0" name="CalcularISRResult" nillable="true" type="q2:ItemTablaISR" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>